
##############################################
#              Output directories            #
##############################################
#
# generated isos
target/output
!target/output/.gitkeep
# root of installer disk
target/iso_root/*
!target/iso_root/.gitkeep 

